<header class='header private-header'>
  <h2 class='title-task'>Planner</h2>
  <img class='icon-task' src='../../../assets/lupa.svg' alt='Ícone de busca'>
</header>

<div class="container-planner">
  <div class="calendar">
    <mwl-calendar-month-view class="calendar" [viewDate]=" viewDate" [locale]="locale">
    </mwl-calendar-month-view>
  </div>
  <div class="tasks-list">
    <h1>Lista de tarefas do dia</h1>
    <h1>Lista</h1>
  </div>
</div>

<app-private-footer>

</app-private-footer>



<!-- style="height:400px; display:block" -->
