<footer>
    <button class='fab' routerLink='/create-task'>
        <img class='mais' src='../../../assets/plus.svg' alt='Adicionar tarefa'>
    </button>

    <div class="private-footer">
        <div class='footer'>
            <img class='footer-icons' src='../../../assets/home.svg' alt='Ícone voltar para a página principal'
                (click)="goBackTo()">
            <img class='footer-icons' src='../../../assets/blue-calendar.svg' alt='Ícone para abrir o calendário'
                (click)="goTo()">
        </div>
        <div class='bar sec-bar'></div>
    </div>
</footer>