<header class='header'>
</header>

<main class='wrapper'>
    <h1 class='title'>Bem-vindo!</h1>
    <img class='welcome-img' src='../../../assets/boas-vindas-tudu.png' alt='Imagem de boas vindas'>
    <span>Organize seu dia com o Tudu.</span>
    <div class='circle-container'>
        <div class='circle active'></div>
        <div class='circle'></div>
        <div class='circle'></div>
        <div class='circle'></div>
    </div>
</main>

<footer class='public-footer'>
    <div class='footer-div'>
        <img class='arrow-up' src='../../../assets/arrow-up.svg' alt='Ícone de seta' (click)="goTo()" />
        <div class='bar'></div>
    </div>
</footer>