<div class="task" [style.background-color]="getCategoryColor(task.category)" [attr.data-category]="task.category"
    [attr.data-status]="task.status" [style.background-color]="getStatus(task.status)">
    <label class="custom-checkbox">
        <input type="checkbox" (click)="onCheckboxClick()" [checked]="task.status === 2" />
        <span class="checkbox" *ngIf="showCheckbox"></span>
        <a class="task-link" [routerLink]="['/view-task', task['_id']['$oid']]">
            <p class="date-style" *ngIf="showDate">{{ taskDetail.expire_date | date:'d MMMM' }}</p>
            <div class="clickable-task">
                <h3>{{task.title}}</h3>
                <p class="task-detail">{{task.description}}</p>
            </div>
        </a>
    </label>
</div>