<header class='header'>
</header>

<section class='container-sign-up'>
    <div class='sign-up-bar'></div>

    <div class='container-form'>
        <h1>Cadastrar</h1>

        <form class="form" [formGroup]="userForm" (ngSubmit)="submit()">
            <div class='input'>
                <label for='name'>Nome</label>
                <input id='name' type='text' formControlName="name" />
            </div>
            <div class='input'>
                <label for='email'>E-mail</label>
                <input id='email' type='email' formControlName="email" />
            </div>
            <div class='input'>
                <label for='password'>Senha</label>
                <input id='password' [type]="showPassword[indexPassword]" formControlName="password" />
                <img class='closed-eye' [src]="passwordImg[indexPassword]" alt='Clique para visualizar senha'
                    (click)="openPassword()">
            </div>
            <div class='input'>
                <label for='confirm-password'>Repetir senha</label>
                <input id='confirm-password' [type]="showPassword[iPassword]" formControlName="confirmPassword" />
                <img class='closed-eye' [src]="passwordImg[iPassword]" alt='Clique para visualizar senha'
                    (click)="closePassword()">
            </div>
            <button class='btn-submit' type='submit'>Cadastrar</button>
        </form>
        <a class='account' routerLink='/sign-in'>Já tenho conta</a>
    </div>
</section>

<footer class='public-footer'>
    <div class='footer-div'>
        <div class='bar'></div>
    </div>
</footer>