<header class='header private-header'>
    <img class='task-icon' src='../../../assets/return.svg' alt='Ícone para voltar à lista de tarefas' (click)="goTo()">
</header>

<div class='view-task-container'>
    <div class='updated-tasks'>
        <h1 class='view-task-title'>{{taskDetail.title}}</h1>
        <span>{{taskDetail.description}}</span>

        <div class="container-date">
            <img class="icon-task" src="../../../assets/gray-calendar.svg" alt="Ícone para acessar a página planner">
            <p>
                {{ taskDetail.expire_date | date:'d MMMM' }}
            </p>
        </div>

        <div class="container-category">
            <img class="icon-task" src="../../../assets/tag.svg" alt="Ícone de categoria">
            <p>
                {{categorySelected[taskDetail.category-1]}}
            </p>
        </div>

        <div class='line'></div>

        <ul class='subtask'>
            <app-subtask-action *ngFor="let subtask of taskDetail.subtask" [subtask]="subtask">
            </app-subtask-action>
        </ul>

        <form [formGroup]="formSubTask" class="add-subtask" (ngSubmit)="onRegisterSubTask()">
            <img class="task-icon" src="../../../assets/arrow-right.svg" />
            <input id="description" class="input-add-subtask" formControlName='description'
                placeholder="Adicionar Subtarefa" />
            <button type="submit" style="display: none;"></button>
        </form>

        <div class='line'></div>

        <form class="form-comment" [formGroup]="formComment" (ngSubmit)="registerComment(taskDetail['_id']['$oid'])">
            <label for="comment"></label>
            <input class='input-comment' type="text" placeholder='Adicionar comentário' name="comment"
                formControlName='content' />
        </form>

        <div class='container-comment' *ngFor="let comment of comments">
            <div>
                <img class='avatar-img' [src]="member.profile" alt='Imagem do perfil'>
            </div>
            <div>
                <div class='name-section'>
                    <strong>{{ comment.name }}</strong>
                    <p>{{comment.created_at | date:'d MMMM' }}</p>
                </div>
                <p class='comment'>{{ comment.content }}</p>
            </div>
        </div>
    </div>
</div>

<app-private-footer></app-private-footer>