.task-progress-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 10rem;
  height: 6.5rem;

  background-color: var(--salmon);
  border-radius: 9px;
}

.card-title {
  color: var(--white);
}


@media(min-width:992px) {
  .task-progress-card {
    width: 438px;
  }
}
