<header class='header private-header'>
    <h2 class='title-task'>Tarefas</h2>
    <img class='icon-task' src='../../../assets/lupa.svg' alt='Ícone de busca'>
</header>

<div class='task-container'>
    <div class='tasks-list'>

        <div class="kanban-desktop">
            <h2 class='titles-list'>A FAZER</h2>
            <app-task-field *ngFor="let task of tasksTodo" [task]="task"
                (checkboxClick)="onCheckBoxClick(task['_id']['$oid'], 2)">
            </app-task-field>
        </div>

        <div class="kanban-desktop">
            <h2 class='titles-list'>CONCLUÍDO</h2>
            <app-task-field *ngFor="let task of tasksDone" [task]="task"
                (checkboxClick)="onCheckBoxClick(task['_id']['$oid'],1)">
            </app-task-field>
        </div>

    </div>
</div>

<app-private-footer>
</app-private-footer>